#nav{
    width:98%;
    /* background-color: #304FFE; */
    background-color: #3F51B5;
    padding: 1%;
    /* box-shadow: 1px 1px 18px #111; */
    /* border: 1px solid black; */
    text-align: center;
}

#title{
    font-size: 2.25em;
    color: #E8EAF6;
    font-family: 'Comfortaa', cursive;
}