.form {
    background-color: red;
    font-family: 'Comfortaa', cursive;
    width:100%;
    border:solid 2px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-area: 1 / 2 / 5 / 7;
}

.form-date {
    grid-row: 0 / 1;
}

.form-events {
    grid-row: 2 / 4;
    background-color: pink;
    list-style-type: none;
    transition: all 0.2s ease;
}