.form {
    background-color: white;
    font-family: 'Comfortaa', cursive;
    margin-top:1%;
    width:100%;
    border:solid 2px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-area: 1 / 2 / 5 / 7;
}

.form-header {
    grid-row: 0 / 1;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.form-header-date {
    padding: 1%;
    grid-column: 0 / 9;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.form-header-back {
    text-align: center;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.2s ease;
}

.form-header-back:hover {
    /* font-size:1.05em; */
    color:#0091EA;
}

.form-events {
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.form-events-info {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.form-events-info-fields {
    display: grid;
    padding:1%;
    padding-bottom: 2.5%;
    padding-right:2%;
    grid-template-rows: .5fr .5fr .5fr .5fr 3fr .5fr
}

.form-events-info-fields-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-events-list {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top:5%;
}

.form-events-list-today {
    padding: 1%;
    text-decoration: underline;
    text-decoration-color: rgba(63,81,181,1);
}