.day {
    display:grid;
    grid-template-rows: 1fr 3fr;
    background-color: white;
    margin:2%;
    padding:5%;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.day:hover {
    opacity: 1;
    /* background-color: blue; */
    margin:0%;
}

.day-name {
    font-family: 'Comfortaa', cursive;
}

.day-date {
    font-family: 'Comfortaa', cursive;
    color: #424242;
}

.day-events {
    list-style-type: none;
    overflow: auto;
}

.day-events-single {
    /* font-family: 'Comfortaa', cursive; */
    margin-bottom: 1%;
    /* background-color: gray; */
}